/******************************************
/* CLEAR FIX/BOX MODEL HACKS
/*******************************************/
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* GENERAL STYLES/BACKGROUND
/*******************************************/
* {
  font-family: serif;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100 vh;
  background-image: url(../Images/GreatHall.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(62, 43, 43);
}

/******************************************
/* Header Styles
/*******************************************/
header {
  padding-bottom: 20px;
}

.flag-and-scroll-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header-image {
  min-width: 0;
}
#flag1,
#flag2 {
  height: 250px;
}
#scroll {
  height: 200px;
}

/******************************************
/* Main Section Styles
/*******************************************/
main {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

section {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.instruction-text {
  margin: 0px;
  padding: 5px;
}

button {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(249, 180, 4, 0.65);
}

button:hover {
  box-shadow: 0 0 50px rgba(249, 180, 4, 0.99);
}

#gryffindor-button {
  background-color: maroon;
}
#hufflepuff-button {
  background-color: goldenrod;
}
#slytherin-button {
  background-color: green;
}
#ravenclaw-button {
  background-color: rgb(46, 52, 120);
}
